/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#root, #c3dsrw, html, body {
    height: 100%;
}
.main {
    height: 86%;
}
body {
    background-color: lightgray;
}

header {
    background-color: #007bff;
    color: white;
}
